<template>
  <q-page padding>
    <div class="row justify-around q-pt-md">
      <template v-if="$q.platform.is.ios">
        <q-avatar>
          <img src="https://cdn.quasar.dev/img/avatar.png">
        </q-avatar>
        <q-chip label="Liked You" />
        <q-chip label="Conversations" />
      </template>
      <template v-else class="text-grey-7">
        <q-btn round push
          size="lg"
        >
          <q-avatar>
            <img src="https://cdn.quasar.dev/img/avatar2.jpg">
          </q-avatar>
        </q-btn>
        <q-btn round push
          size="lg"
          icon="fas fa-heart"
        />
        <q-btn round push
          size="lg"
          icon="fas fa-comments"
        />
      </template>
    </div>
    <q-separator class="q-my-md" />
    <p class="text-h6">
      Suggested for You
    </p>
    <div class="row">
      <q-card
        v-if="suggestedForYou.length > 0"
        class="full-width"
      >
        <q-img basic
          src="https://cdn.quasar.dev/img/parallax2.jpg"
        >
          <div class="absolute-bottom">
            <div class="text-h6">
              {{ suggestedForYou[0].name }}, {{ suggestedForYou[0].age }}
            </div>
            <div class="text-subtitle2">
              From {{ suggestedForYou[0].from }}
            </div>
          </div>
          <q-btn flat round
            size="30px"
            icon="fas fa-arrow-circle-up"
            class="absolute-bottom-right text-red"
            style="bottom: 5px; right: 10px;"
          />
        </q-img>
      </q-card>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
import {
  QAvatar,
  QChip,
  QBtn,
  QSeparator,
  QCard,
  QImg
} from 'quasar'
import IndexMixin from './IndexMixin'

export default {
  name: 'PageIndex',
  components: {
    QAvatar,
    QChip,
    QBtn,
    QSeparator,
    QCard,
    QImg
  },
  mixins: [
    IndexMixin
  ]
}
</script>
